// 1. OBJECT [ 1.0.3. INPUTS ]  #######################################################################################

// A. GLOBAL INPUTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    // A.1. BUTTONS ---------------------------------------------------------------------------------------------------

.button {
    &.btn-default {
    
        display: block;
        padding: $baseline-small;
        text-align: center;
        border: 0;
        max-width: 200px;
        margin: 0 auto;
        white-space: nowrap;
        
    }
}

.btn-orange { color: $white; background: $kd-redDark; 
    &:hover { color: $black; background: $kd-red; }

}

.button {
    &.alt { color: $white; background: $kd-redDark; 
        &:hover { color: $black; background: $kd-red; }
    }
}

    // A.1. END -------------------------------------------------------------------------------------------------------

    // A.2. WOOCOMMERCE -----------------------------------------------------------------------------------------------

.woocommerce {

    .quantity {
        input { padding: 7px 0; }
    }

}

    // A.2. END -------------------------------------------------------------------------------------------------------

    // A.3. INPUTS ----------------------------------------------------------------------------------------------------

input[type="tel"],
input[type="email"] { padding: 10px; }

select[name="billing_state"],
select[name="billing_country"] { height: 40px; border-radius: 0; }

    // A.3. END -------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################