// 1. OBJECT [ 1.7. ICONS ] ###########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.icon {
    
    @include icon (auto, 100%, $kd-grey30);
    
}

.icon__bg-none {
    
    fill: none;
    
}

// A.1. ICONS ---------------------------------------------------------------------------------------------------------

// A.1.1. LEFT --------------------------------------------------------------------------------------------------------

.icon-left {

    display: inline-block;
    @include icon (100%, 100%, $white);
    vertical-align: middle;
}

// A.1.1. END ---------------------------------------------------------------------------------------------------------

// A.1.1. RIGHT -------------------------------------------------------------------------------------------------------

.icon-right {

    @include icon (100%, 100%, $white);
    float: right; 
}

// A.1.1. END ---------------------------------------------------------------------------------------------------------

// A.1.2. THUMB -------------------------------------------------------------------------------------------------------

.icon-thumb {
    
    text-align: center;
    display: block;
    margin: 0;
    
    span {
        color: $kd-grey50;
    }
    
    .icon {
        
        @include icon (100%, 100%, $kd-grey50);   
        
    }
}

// A.1.2. END ---------------------------------------------------------------------------------------------------------

// A.1.3. IMAGE ICON --------------------------------------------------------------------------------------------------

.photo {
    
    margin: 0 auto;
    display: block;

    &.image {
        
        overflow: hidden;
        width: 100px;
        height: 100px;
        
        
        img {
            
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            border-radius: 100%;
            
        }
    }
}

// A.1.3. END ---------------------------------------------------------------------------------------------------------

// A.1.4. SOCIAL MEDIA ------------------------------------------------------------------------------------------------

// A.1.4.1 FACEBOOK


// A.1.4.1 END

// A.1.4.2 GOOGLE+


// A.1.4.2 END
// A.1.4. END ---------------------------------------------------------------------------------------------------------

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################