// 1. OBJECT [ 1.4. LOGO ]  ###########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

// A.1.1 MAIN LOGO

.spartan {

    position: absolute;
    width: 35%;
    bottom: 0;
    top: 0;
    left: 5%;
    vertical-align: bottom;
    background: url('../images/site/dp.png') no-repeat bottom center;
    background-size: 100% auto;
    
    .logo-figure {
        
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        
        img { width: 100%; }
        
        &.not-top { display: none; }
    }
}

// A.1.1. END

// A.1.2. SMALL LOGO

.logo { display: none;
    &.not-top { display: block; }
}

// A.1.2. END

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. DESK-WIDE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media (min-width:1200px) {}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. DESK ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media (max-width:1199px) {

    .spartan { width: 40%; }

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. TABLET ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media (max-width:1024px) {

    .spartan { width: 45%; }

}

@media (max-width:991px) {

    .spartan { width: 55%; left: 5%;
        .logo-figure { display: block; top: 30%; left: 80%; width: 80%; }
    }

}

@media (max-width:767px) {

    .spartan { width: 55%; left: auto; right: 5%;
        .logo-figure { display: none; }
    }

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. MOBILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media (max-width:480px) {

    .spartan { width: 100%; left: 0%;
        .logo-figure { display: none; }
    }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// F. FEATURE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media (max-width:320px) { }

// F. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
