// 2. BLOCK [ 2.3. CAROUSEL ] #########################################################################################

.carousel-wrapper {
    
    // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
    position: relative;
    
    .owl-carousel { display: block; }
    
    // A.1. CONTROLS --------------------------------------------------------------------------------------------------
    
    .owl-nav,
    .owl-dots { display: none; }
    
    // A.1. END -------------------------------------------------------------------------------------------------------
    
    // A.2. ITEM CONTENT ----------------------------------------------------------------------------------------------
    
    .item { position: relative; @include aspect-ratio (100%, 100%);
        .item-link { @include position (absolute, 0);
            .img { 
                width: 100%; 
                max-width: 150px; 
                margin: auto; 
                position: absolute; 
                top: 50%; 
                left: 50%; 
                transform: translateY(-50%) translateX(-50%); 
            }
        }
    }
    
    // A.2. END -------------------------------------------------------------------------------------------------------

    // A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++    
    
    // B. DESK-WIDE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @media (min-width:1200px) {}

    // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // C. DESK ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @media (max-width:1199px) { }

    // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // D. TABLET ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @media (max-width:991px) { }

    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // E. MOBILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @media (max-width:480px) { }

    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // F. FEATURE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @media (max-width:320px) { }

    // F. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
}

// END OF FILE ########################################################################################################