// 2. SECTION [ 2.1. MASTHEAD ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. MASTHEAD ------------------------------------------------------------------------------------------------------

#masthead {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: block; // FOR NOW
    background: $kd-redDark;
    z-index: 1000;
    transition: 0.3s;

    .container {
        padding: 0;
        position: relative;
    }

    .logo {
        
        @include vertical-align(absolute);
        height: 46px;
        right: 0;
    }
    
    &.not-top { height: 50px; transition: 0.3s; }

}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { 
	
    #masthead { display: block;

        .logo { display: block; right: auto; left: $baseline-small; height: 36px; }
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { 
	
    #masthead { display: block;

        .logo { display: block; right: auto; left: $baseline-small; }
    }
}

@media(max-width:767px) { 
	
    #masthead { display: block; height: 50px;

        .logo { display: block; right: auto; left: $baseline-small; }
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################