// 1. OBJECT [ 1.5. SECTIONS ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME -----------------------------------------------------------------------------------------------------

.section-blog {

    .article { margin: 0 $baseline;
        
        a { color: $kd-redDark; }
        
        .article__figure {
            
            @include aspect-ratio (100%, 56%);
            padding: 0;
            margin: 0;
            z-index: 1;
            display: block;
            position: relative;
            background: $kd-redDark;
            
            .image-wrapper { 
                
                @include position (absolute, 0);
                overflow: hidden;
                
                .image { width: 100%; height: auto; }
            
            }
        }
        
        .article__body { background: $white; padding-bottom: $baseline-small; position: relative; 
            
            h3 { 
                position: relative;
                width: 100%;
                padding: $baseline $baseline-small 0;
                background: $white; 
                z-index: 1;
                box-sizing: border-box;
                font-size: $medium;
                text-align: center;
                
            }

            p { margin: $baseline-small $baseline; font-size: $small; position: relative; z-index: 10;
                &:blank { display: none; }
                &:empty { display: none; }
            }
        }
    }
    
    .btn-default { margin-top: $baseline-large; }

// A.1. END -----------------------------------------------------------------------------------------------------------
    
// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// MEDIA QUERIES : desk-all = min-width:992px | desk-lg = min-width: 1600px | desk-wd = min-width: 1200px | desk = max-width: 1199px | desk-sm = max-width: 1024px | tab-lg = max-width: 991px | tab-md = max-width: 768px | tab-sm = max-width: 767px | mobi-lg = max-width: 480px | mobi-xs = max-width: 320px

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-all) {}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-sm) {}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tab-lg) {

    .article { margin-bottom: $baseline; }
}
    
@include media-query(tab-md) {}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobi-lg) {

    .section__articles {
        .article { margin: 0; margin-bottom: $baseline-small;
        
            .article__body {

                h3 { font-size: $large; }
                p {}
            }
        }
    }
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobi-xs) {}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}
    
// END OF FILE ########################################################################################################