// 2. SECTION [ 2.8.2. ECOM: CART ]  ##################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.woocommerce-page {
    
    // A.1.1. CART ----------------------------------------------------------------------------------------------------

    &.woocommerce-cart {
    
        // A.1.1.1. HEADER
        .entry-header {
            .entry-title {
                a { color: $kd-redDark; display: block; }
            }
        }
    
        // A.1.1.2. TABLE
        .shop_table { border: 0;
            th { background: $kd-grey40; border: 0; font-family: 'gow', sans-serif, helvetica, arial; }
            tbody {
                td { border: 0; font-size: 12px;
                    &.product-name { text-transform: uppercase;
                        a { color: $kd-red; }
                    }
                }
            }
        }
        
        // A.1.1.3. TOTALS
        .cart-collaterals {
            .cart_totals { width: auto; 
                h2 { display: none; }
                tbody {
                    tr {
                        th {}
                        td { padding: 0; line-height: normal; vertical-align: middle; text-align: right; 
                            span { text-align: right; padding-right: 12px; display: inline-block; }
                        }
                    }
                }
            }
        }
        
        // A.1.1.4. CHECKOUT BUTTONS
        .wc-proceed-to-checkout {
            a { margin: 0; font-size: 14px; background: $kd-red;
                &:hover { color: $white; background: $kd-redDark; }
            }
        }
    
    }

    // A.1.1. End
    
    // A.1.2. COMMENTS 
    .nocomments { display: none; }

    // A.1. END -------------------------------------------------------------------------------------------------------

    // A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // MEDIA QUERIES : desk-all = min-width:992px | desk-lg = min-width: 1600px | desk-wd = min-width: 1200px | desk = max-width: 1199px | desk-sm = max-width: 1024px | tab-lg = max-width: 991px | tab-md = max-width: 768px | tab-sm = max-width: 767px | mobi-lg = max-width: 480px | mobi-xs = max-width: 320px
    
    // E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) {}

    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) {}

    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tab-md) {
    
        &.woocommerce-cart {
        
            .wrapper {
                .content {
                    >.container { 
                        .entry-content {
                            .woocommerce {
                                .shop_table {
                                    .cart_item {
                                        border: 1px solid $kd-grey10;
                                        border-radius: 5px;
                                        margin-bottom: $baseline-small;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
    
    
    }

    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tab-sm) {
    
        &.woocommerce-cart {
        
            .wrapper {
                .content {
                    >.container { padding-left: $baseline-small; padding-right: $baseline-small; }
                }
            }
        }
    
    }

    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) {}

    // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) {}
    
    // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################