// 2. SECTION [ 2.8.2. ECOM: CART ]  ##################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.woocommerce-page {
    
    // A.1.1. CART ----------------------------------------------------------------------------------------------------

    &.woocommerce-cart {
    
        // A.1.1.1. HEADER
        .entry-header {
            .entry-title {
                a { color: $kd-red; padding-bottom: 30px; display: block; }
            }
        }
    
        // A.1.1.2. TABLE
        .shop_table { border: 0;
            th { background: $kd-grey40; border: 0; font-family: 'gow', sans-serif, helvetica, arial; }
            tbody {
                td { border: 0; font-size: 12px;
                    &.product-name { text-transform: uppercase;
                        a { color: $kd-red; }
                    }
                }
            }
        }
        
        // A.1.1.3. TOTALS
        .cart-collaterals {
            .cart_totals { width: auto; 
                h2 { display: none; }
                tbody {
                    tr {
                        th {}
                        td { padding: 0; line-height: normal; vertical-align: middle; text-align: right; 
                            span { text-align: right; padding-right: 12px; display: inline-block; }
                        }
                    }
                }
            }
        }
        
        // A.1.1.4. CHECKOUT BUTTONS
        .wc-proceed-to-checkout {
            a { margin: 0; font-size: 14px; background: $kd-red;
                &:hover { color: $white; background: $kd-redDark; }
            }
        }
    
    }

    // A.1.1. End
    
    // A.1.2. COMMENTS 
    .nocomments { display: none; }

    // A.1. END -------------------------------------------------------------------------------------------------------

    // A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) {}
    
    // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) {}

    // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) {}

    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) {}

    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) {}

    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################