// 3. PAGE [ 3.2. WORK ]  #############################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

.archive,
.single,
.page {
    
    .page {
    
        &#mast {

            .wrapper { 
                
                top: 50%;
                background: $kd-grey70;
                
                .content {
                    
                    padding: $baseline-large;
                    background: $white;
                
                }
            }
            
            .section-midbar { top: 30%; }
        }
    }
    
// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    #mast { padding-top: 80px; }
    
    .project { flex-direction: column; }
    .square { width: 100%; }

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    #mast { padding-top: 60px; }
    
    .project { flex-direction: column; }

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    #mast { padding-top: 60px; }
    
    .project { flex-direction: column; }

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    #mast { padding-top: 0; }
    
    .project {
        
        flex-direction: row;
        
        .column-1 { width: 25%; }
        .column-2 { width: 75%; }
        .row-1 { .mobi { width: 50% }}
    }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    #mast { padding-top: 0; }
    
    .project {
        
        flex-direction: row;
        
        .column-1 { width: 33.33%; }
        .column-2 { width: 66.66%; }
        .row-1 { .mobi { width: 33.33% }}
    }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}
    
// END OF FILE ########################################################################################################