// 3. PAGE [ 3.2. WORK ]  #############################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

.woocommerce {
    
    .shop {
        
        &#mast {
            
            .article__figure { 
            
                @include position (fixed, 0);
                margin: 0;
                padding: 0;
                bottom: auto;
                top: 50px;
                z-index: -1;

                img { width: 100%; height: auto; }
            }
            
            .wrapper {
                
                .content {

                    h3 { color: $kd-redDark; } 
                }
            } 
        }
    }
    
// A.1. END -----------------------------------------------------------------------------------------------------------
    
// A.2. SINGLE PRODUCT ------------------------------------------------------------------------------------------------
    
    &.single-product {
        
        // A.2.1. Product Item Area -----------------------
        .section__shop {
            &.content {
                .product { padding :$baseline-medium 0;

                    .woocommerce-Price-amount {
                        &.amount { color: $black; }
                    }
                    
                    .quantity {
                        input { padding: 7px 0; }
                    }

                    .single_add_to_cart_button {
                        &.alt {
                            &.button { color: $white; background: $kd-redDark; 
                                &:hover { color: $black; background: $kd-red; }
                            }
                        } 
                    }
                    
                    .sku_wrapper { display: none; }
                    
                    .variations {
                        .label { vertical-align: middle; }
                        .value {
                            .attribute_size { 
                                -webkit-appearance: none; 
                                -moz-appearance: none; 
                                -ms-appearance: none; 
                                appearance: none; 
                                border-radius: 0; 
                                padding: 7px;
                                &:after { 
                                    position: absolute; 
                                    width: 15px; 
                                    height: 15px; 
                                    content: '';
                                }
                            }
                        }
                    }
                
                }
            }
        }
        
        .woocommerce-tabs {
            &.wc-tabs-wrapper {
                h2 { font-size: $medium; }
            }
        }
        // A.2.1. END -------------------------------------
        
    }
    
// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) {
    
        .page {

            &#mast {

                .wrapper { top: 5%; } 
            }
        }
    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk)
    
        .page {

            &#mast {

                .wrapper { top: 50%; } 
            }
        }
    

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) {
    
        .page {

            &#mast {

                .wrapper { top: 60%; } 
            }
        }

    }
    
    @media (max-width:767px) {

        &.single-product {
            .section__shop {
                &.content {
                    .product {
                        .images {
                            .woocommerce-main-image {
                                img { max-width: 300px; margin: 0 auto; }
                            }
                        }
                    }
                }
            }
        }
    
    }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) {
    
        .page {

            &#mast {
            
            .article__figure { text-align: center; img { width: auto; height: 400px; }}

                .wrapper { top: 350px; } 
            }
        }

    }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) {
    
        .page {

            &#mast {
            
            .article__figure { img { height: 300px; }}

                .wrapper { top: 260px; } 
            }
        }

    }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}
    
// END OF FILE ########################################################################################################