// 2. SECTION [ 2.5. SERVICES ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. FIXTURES ------------------------------------------------------------------------------------------------------

.list__fixtures { padding: 0; margin: 0;
    
    .fixture { padding: 0;
    
        .opponent   { padding: $baseline-small; color: $kd-redDark; background: $white; }
        .venue      { padding: 5px $baseline-small 0; }
        .date       { padding: 0 $baseline-small $baseline-small; }
    
    }

}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. EVENTS --------------------------------------------------------------------------------------------------------

.list__schedule { padding: 0; margin: 0;
    
    .schedule { padding: 0;
    
        p { padding: 0; margin: $baseline-small; font-size: $small; line-height: normal; display: block;

            &.title { padding: $baseline-small; margin: 0; color: $kd-redDark; background: $white; }
            &.venue { padding: 5px $baseline-small 0; margin: 0; }
            &.date  { padding: 0 $baseline-small $baseline-small; margin: 0; }

        }
    }
}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) { }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################