// 0. CONFIG [ 0.1. VARIABLES ]  ######################################################################################

// A. FONT STACKS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@font-face {
    
    font-family: 'GOW';
    
    src: url('../fonts/-god-of-war.ttf');
    
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    
    font-family: 'Roboto-thin';
    
    src: url('../fonts/-Roboto-Thin.ttf');
    
    font-weight: normal;
    font-style: normal;
    
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################