// 2. SECTION [ 2.5. SERVICES ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME ----------------------------------------------------------------------------------------------------------

.section-sidebar {
    
    position: absolute;
    top: 25px;
    width: 20%;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: $kd-grey70;

    &:after {

        @include position (fixed, 0);
        left: auto;
        width: 20%;
        content: '';
        z-index: -1;

    }

    .inside { @include position (absolute, 0); padding: $baseline-small;
        h2  { font-size: $large; margin-bottom: $baseline-small; margin-top: $baseline; }
        
        .list__fixtures { padding: 0; margin: 0; }
    }
}

.section-midbar {
    
    position: absolute;
    top: 85%;
    width: 20%;
    right: 20%;
    bottom: 0;
    z-index: 1;

    &:after {

        position: fixed;
        top: 100%;
        bottom: 0;
        right: 20%;
        width: 20%;
        content: '';
        z-index: -1;
        background: pink;

    }

    .inside { @include position (absolute, 0); bottom: auto; padding: $baseline-small;
        h2  { font-size: $large; }
    
    }
    
}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) { }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################