// 2. SECTION [ 2.8.2. ECOM: CART ]  ##################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.woocommerce-page {
    
    // A.1.1. CART ----------------------------------------------------------------------------------------------------

    &.woocommerce-checkout {
    
        // A.1.1.1. HEADER
        .entry-header {
            .entry-title {
                a { color: $kd-red; padding-bottom: 30px; display: block; }
            }
        }
    
        // A.1.1.2. FORM
        .checkout {
            .col2-set {
                &#customer_details { 
                    .col-1 { width: 100%; float: none; display: inline-block; vertical-align: top; }
                    .col-2 { width: 100%; float: none; display: inline-block; vertical-align: top; }
                }
            }
        }
    // A.1.1. End
        
    }
    
    // A.1.2. COMMENTS 
    .nocomments { display: none; }

    // A.1. END -------------------------------------------------------------------------------------------------------

    // A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) {}
    
    // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) {}

    // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) {}

    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) {}

    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) {}

    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################