// 3. PAGE [ 3.0. HOME ]  #############################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.home {

    // A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) {

        // A.1. FRONT DIV POSITION ------------------------------------------------------------------------------------

        .home {

            &#mast {

                .wrapper { top: 70%; padding-right: 0; }

            }
        }

        // A.1. END ---------------------------------------------------------------------------------------------------

    }

    // B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) {

        // A.1. FRONT DIV POSITION ------------------------------------------------------------------------------------

        .home {

            &#mast {

                .wrapper { top: 70%; padding-right: 0; }

            }
        }

        // A.1. END ---------------------------------------------------------------------------------------------------

    }

    // C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) {

        // A.1. FRONT DIV POSITION ------------------------------------------------------------------------------------

        .home {

            &#mast {

                .wrapper { top: 70%; }
                .section-sidebar { top: 65%; &:after { top: 100%; bottom: auto; }

                    .inside { bottom: auto;

                        h2 { font-size: $normal; }

                    }

                }
            }
        }

        // A.1. END ---------------------------------------------------------------------------------------------------

    }

    // D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) {

        // A.1. FRONT DIV POSITION -----------------------------------------------------------------------------------

        .home {

            &#mast {

                .wrapper { top: 100%; }


            }
        }

        // A.1. END --------------------------------------------------------------------------------------------------

    }

    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    // E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) {

        // A.1. FRONT DIV POSITION ------------------------------------------------------------------------------------

        .home {

            &#mast {

                .wrapper { top: 100%; }


            }
        }

        // A.1. END ---------------------------------------------------------------------------------------------------

    }

    // E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// END OF FILE ########################################################################################################