// 3. PAGE [ 3.2. WORK ]  #############################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. STRUCTURE -----------------------------------------------------------------------------------------------------

.page {
    
    .page {
    
        &#mast {
            
            .section-home {
            
                .spartan { display: none; }
            }
            
            .section__articles {
                
                .article {
                                
                    .article__figure {

                        img { width: 100%; height: auto; }

                    }
                    
                    &:first-child {
                        
                        .article__figure { 

                            @include position (fixed, 0);
                            margin: 0;
                            padding: 0;
                            bottom: auto;
                            top: 50px;
                            z-index: -1;

                        }
                        
                        .article__body { 
                        
                            margin-top: -130px;
                            
                            h2 {
                                
                                position: relative;
                                
                                &:after {
                                    
                                    @include position (absolute, -$baseline);
                                    left: -200px;
                                    content: '';
                                    background: $white;
                                    z-index: -1;
                                    
                                }
                                
                            }
                        }
                    }
                }

                .article__figure {

                    img { width: 100%; height: auto; }

                }
            }
        }
    }
    
// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(feature) {

        .page {
            &#mast { overflow-x: hidden;
                .wrapper { top: 25%; .content{ padding-left: $baseline-small; padding-right: $baseline-small; }}
            }
        }
    }


// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(mobile) {

        .page {
            &#mast { overflow-x: hidden;
                .wrapper { top: 25%; .content{ padding-left: $baseline-small; padding-right: $baseline-small; }}
            }
        }
    }


// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(tablet) {

        .page {
            &#mast {
                .wrapper { top: 30%; }
            }
        }
    }


// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk) {

        .page {
            &#mast {
                .wrapper { top: 50%; }
            }
        }
    }


// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @include media-query(desk-wide) {

        .page {
            &#mast {
                .wrapper { top: 70%; }
            }
        }
    }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}
    
// END OF FILE ########################################################################################################